.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

.signOut {
  margin-left: 290px;
}

.newArticle {
  position: fixed;
  margin-top: 750px;
  margin-right: 1300px;
}

.userGreeting {
  position: fixed;
  margin-bottom: 300px;
  margin-left: 85px;
  font-size: 20px;
  color: rgb(242, 242, 247);
  text-decoration: underline;
}

.headerTitle {
  margin: 0px 85px 0px 0px;
  padding: 0px;
}

.titleInput {
  border: none;
  border-bottom: 2px solid rgb(44, 44, 46);
  margin-right: 50px;
  padding: 15px 15px 15px 15px;
  transition: 0.3s ease-in;
  width: 250px;
}

.titleInput::placeholder {
  font-size: 15px;
  transform: translateX(0);
  transition: 0.4s ease-out;
  text-align: center;
}

.titleInput:focus::placeholder {
  transform: translateX(300px);
  transition: 0.4s;
}

.titleInput:focus {
  transition: 0.5s ease-in-out;
  margin-top: 15px;
}

.bodyInput {
  border: none;
  border-bottom: 2px solid rgb(44, 44, 46);
  transition: 0.5s ease-in;
  font-family: inherit;
}

.bodyInput::placeholder {
  transition: 0.5s ease-in-out;
  padding-top: 45px;
  font-size: 15px;
  text-align: center;
}

.bodyInput:focus::placeholder {
  transform: translateX(300px);
  transition: 0.4s;
}

.bodyInput:focus {
  margin-top: 15px;
  transition: 0.5s ease-in-out;
}

.articleSelect {
  color: rgb(242, 242, 247);
  margin: 5px;
  font-size: 20px;
}

button {
  display: flex;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border-color: transparent;
  border-radius: 6px;
  color: white;
  background-color: rgb(44, 44, 46);
}

button:hover {
  background-image: url(./space.webp);
  transition: 0.6s ease-in;
}

header {
  text-align: center;
  font-size: 50px;
  display: flex;
  flex-grow: 4;
  justify-content: center;
  background-color: rgb(99, 99, 102);
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-color: rgb(72, 72, 74);
  color: white;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  color: rgb(255, 45, 85);
  padding: 5px;
}
